body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
h1 {
  font-style: oblique;
  color: rgb(241, 107, 163);
  text-align: center;
}
.img1{
  position: relative;
  margin-left: 565px;
  display: flex;
}
p{
  margin-left: 120px;
  color: rgb(241, 92, 229);
  font-size: x-large;
}
.borabill{
  position: relative;
  bottom: 240px;
}

.amostradinho{
  position: relative;
