<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="jurol css certo.css">
    <title>Trabalho Luís</title>
</head>
<body>
    <br>
    <h1 class="ti"> PORTFÓLIO </h1>
    <br>
   
    <br> 
    <div class="carol"> 
    <p>  
         <br> 
        Ana Carolina Sena <br>
        Experiência: Técnico em Informática para Internet - Senai Cimatec <br> </p>
       </div> 
       <img class="borabill" src="https://i.pinimg.com/736x/1d/ea/77/1dea77a7bea8ba7de135cbefc2383ebc.jpg" alt="" width="190px" height="190px">
 
        <br>
        <br>
        <div class="ju"> 
        <p> 
        <br> Júlia Braga <br>
        Experiência: Técnico em Informática para internet- Senai Cimatec
     </p></div>
     <img class="amostradinho" src="https://i.pinimg.com/736x/0b/32/63/0b3263156086d15a14a584bee58abb20.jpg" alt="" width="190px" height="190px">
      

</body>
</html>
